.btn {
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  font-weight: bold;
}
.btn--no-body {
  border: 1px solid #172339;
  color: #172339;
}
.btn--no-body:hover {
  background: #172339;
  border: 1px solid #172339;
  border-radius: 6px;
  color: #faf8f6;
}
.btn--medium {
  font-size: 14px;
  padding: 12px 15px;
}
.btn--large {
  font-size: 18px;
  padding: 18px 31px;
}
.btn--dark {
  background-color: #172339;
  color: #faf8f6;
}
.btn--dark:hover {
  background: linear-gradient(135deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
}
