.counter {
  margin-bottom: 2rem;
}
.counter__number {
  color: #172339;
  font-weight: bold;
  font-size: 3rem;
}
.counter__desc {
  text-transform: uppercase;
  color: #49566d;
  letter-spacing: 2.5px;
}
@media (min-width: 768px) {
  .counter {
    margin-bottom: 0;
  }
  .counter__number {
    font-size: 6.25vw;
    line-height: 7.29vw;
  }
}
@media (min-width: 1440px) {
  .counter {
    margin-bottom: 4.375vw;
  }
  .counter__number {
    font-size: 3.333vw;
    line-height: 3.888vw;
  }
  .counter__desc {
    font-size: 1.11vw;
    line-height: 1.8055vw;
  }
}
