.footer {
  padding: 3.5rem 33%;
  background-color: #f3ede7;
}
.footer__text {
  font-size: 0.9375rem;
  line-height: 32px;
  letter-spacing: 0.08px;
  color: #49566d;
}
.social-icons {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 69.79166vw 4.3% 4.5rem;
  }
}
@media (min-width: 1000px) {
  .footer {
    padding-top: 56vw;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding-top: 48vw;
  }
}
