.App {
  text-align: center;
  padding: 24px 0;
  background-color: #faf8f6;
}
.text--bold {
  font-weight: 900;
}

.padding-container {
  padding: 0 4.3%;
}
@media (min-width: 768px) {
  .App {
    padding-top: 2.5rem;
  }
  .padding-container {
    padding: 0 5.2%;
  }
}
